/build/
/dist/

/docs/build/
/docs/dist/

/.cache/
/.temp/

/.env
/.env.*

/.mypy_cache/
/.ruff_cache/

/.hypothesis/
/.pytest_cache/

/htmlcov/
/.coverage
/.coverage.*

/.hatch/
/.tox/

/.venv/
/venv/

# Python
__pycache__/
*.egg-info/
*.py[cod]

# C/C++
*.obj
*.lib
*.dll
*.exe
*.o
*.a
*.so
*.out

# macOS
.DS_Store
